@import url("https://fonts.cdnfonts.com/css/montserrat");
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 40px;
  background-color: #8477FA;
  color: white;
  font-weight: bold;
  min-width: 90px;
  border-radius: 5px;
  border: 1px solid #8477FA;
  cursor: pointer;
}

.btn-primary {
  font-weight: 400;
}

.btn-disabled {
  background-color: white;
  color: rgba(120, 119, 119, 0.8);
  border: 1px white solid;
  font-weight: 400;
}

i {
  color: rgba(120, 119, 119, 0.8);
}

.content {
  display: block;
}
.content .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px auto;
  width: 95%;
  text-align: center;
}
.content .header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: start;
}
.content .header__menu button {
  margin: 10px;
}
.content .header__logo {
  cursor: pointer;
  margin: auto;
  text-align: center;
}
.content .header__logo img {
  margin: auto 0;
}
.content .header__options {
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.content .header__options img {
  width: 20px;
  height: 20px;
}
.content .header__options i {
  font-size: 1.2em;
  color: rgba(120, 119, 119, 0.8);
  margin: 10px 10px auto auto;
  cursor: pointer;
}
.content .header__options i:hover {
  color: #8477FA;
}
.content .header__options .user {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  position: relative;
}
.content .header__options .user img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  margin: 0 auto;
}
.content .header__options .user .availability {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #30D137;
  position: absolute;
  top: 30px;
  left: 30px;
}
.content .main {
  width: 95%;
  margin: auto;
  display: block;
  text-align: center;
}
.content .main__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content .main__top h1 {
  font-size: 1.5em;
  font-weight: 500;
}
.content .main__top h1 i {
  margin-left: 10px;
}
.content .main__top .btn {
  float: right;
}
.content .main__filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: start;
}
.content .main__filters .category {
  border: 1px solid #8477FA;
  margin: 15px;
}
.content .main__filters .category select {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 40px;
  background-color: #8477FA;
  color: white;
  font-weight: bold;
  min-width: 90px;
  border-radius: 5px;
  width: 330px;
  color: white;
  font-weight: bold;
  padding-left: 15px;
}
.content .main__filters .search {
  border: 1px solid #8477FA;
  margin: 15px;
  color: white;
}
.content .main__filters .search input {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 40px;
  background-color: #8477FA;
  color: white;
  font-weight: bold;
  min-width: 90px;
  border-radius: 5px;
  width: 400px;
  color: white;
  font-weight: bold;
  padding-left: 15px;
}
.content .main__filters .options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: start;
}
.content .main__filters .options label {
  width: 120px;
  height: 45px;
  margin: 20px 15px;
}
.content .main__filters .options label select {
  height: 45px;
  width: 120px;
  padding-left: 10px;
  color: rgba(120, 119, 119, 0.8);
  padding-right: 10px;
}
.content .main .card {
  display: grid;
  width: 750px;
  margin: 30px auto auto 0;
  padding-left: 40px;
  height: 250px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: rgba(120, 119, 119, 0.8);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "infos status" "stats options" "author menu";
}
.content .main .card__infos {
  grid-area: "infos";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: start;
  margin: auto 0;
  text-align: left;
  height: 80px;
}
.content .main .card__infos img {
  width: 70px;
  height: 70px;
  margin: 20px 10px auto 0;
}
.content .main .card__infos__list {
  line-height: 1em;
  margin: auto 0;
  text-align: left;
  float: left;
  background-color: 0;
}
.content .main .card__infos__list h2 {
  color: black;
  font-weight: 450;
}
.content .main .card__infos__list p {
  margin: auto 0;
}
.content .main .card__infos__list p i {
  width: 25px;
  height: 25px;
  margin-left: 20px;
}
.content .main .card__stats {
  grid-area: stats;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px auto auto 0;
}
.content .main .card__stats .users {
  width: 30px;
  height: 30px;
  background-color: #8477FA;
  display: table;
  text-align: center;
}
.content .main .card__stats .users i {
  color: white;
  display: table-cell;
  vertical-align: middle;
}
.content .main .card__stats p {
  margin: 8px auto auto 5px;
}
.content .main .card__author {
  grid-area: author;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: baseline;
  text-align: left;
}
.content .main .card__author p {
  margin: auto 0;
}
.content .main .card__status {
  grid-area: status;
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.content .main .card__status p {
  color: #30D137;
  font-weight: 400;
  margin: 5px 20px auto auto;
}
.content .main .card__options {
  grid-area: options;
}
.content .main .card__options p,
.content .main .card__options input {
  margin: auto 20px auto auto;
  float: right;
}
.content .main .card__menu {
  grid-area: menu;
  text-align: right;
}
.content .main .card__menu button {
  margin: auto 20px auto auto;
}

/*responsive for 1023px*/
@media screen and (min-width: 350px) and (max-width: 765px) {
  .content .main__filters .category {
    margin: 10px;
  }
  .content .main__filters .category select {
    width: 280px;
  }
  .content .main__filters .search {
    margin: 10px;
  }
  .content .main__filters .search input {
    width: 300px;
  }
  .content .main__filters .options {
    flex-direction: column;
  }
  .content .main__filters .options label {
    margin: 10px 15px;
  }
  .content .main__filters .options label select {
    width: 140px;
  }
  .content .main .card {
    width: 300px;
    height: 200px;
    margin: 30px auto;
  }
  .content .main .card__infos {
    height: 50px;
  }
  .content .main .card__infos img {
    width: 40px;
    height: 40px;
  }
}/*# sourceMappingURL=main.css.map */