$grey: #787777CC;
$white: white;
$purple: #8477FA;
$black: black;
$green: #30D137;

@import url('https://fonts.cdnfonts.com/css/montserrat');

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

}

@mixin button($bg: $purple) {
    width: max-content;
    height: 40px;
    background-color: $bg;
    color: $white;
    font-weight: bold;
    min-width: 90px;
    border-radius: 5px;
}

@mixin flex($flex-direction: row){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn{
    @include button();
    border: 1px solid $purple;
    cursor: pointer;
}

.btn-primary{
    font-weight: 400;
}

.btn-disabled{
    background-color: $white;
    color: $grey;
    border: 1px $white solid;
    font-weight: 400;
}

i{
    color: $grey;
}


.btn-primary{

}

.content{
    display: block;

    .header{
        @include flex();
        margin: 30px auto;
        width: 95%;
        text-align: center;

        &__menu{
            @include flex();
            justify-content: start;

            button{
                margin: 10px;
            }
        }

        &__logo{
            cursor: pointer;
            margin: auto;
            text-align: center;


            img{
                margin: auto 0;
            }
        }

        &__options{
            float: right;
            @include flex();

            img{
                width: 20px;
                height: 20px;


            }

            i{
                font-size: 1.2em;
                color: $grey;
                margin: 10px 10px auto auto;
                cursor: pointer;
            }

            i:hover{
                color: $purple;
            }


            .user{
                width: 40px;
                height: 40px;
                border-radius: 50px;
                position: relative;

                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 50px;
                    margin: 0 auto;
                }

                .availability{
                    width: 10px;
                    height: 10px;
                    border-radius: 5px;
                    background-color: $green;
                    position: absolute;
                    top: 30px;
                    left: 30px;
                }
            }

        }
    }

    .main{
        width: 95%;
        margin: auto;
        display: block;

        &__top{
            @include flex();
            justify-content: space-between;

            h1{
                font-size: 1.5em;
                font-weight: 500;

                i{
                    margin-left: 10px;
                }
            }

            .btn{
                float: right;
            }


        }

        &__filters{
            @include flex();
            justify-content: start;

            .category{
                border: 1px solid $purple;
                margin: 15px;
                select{
                    @include button();
                    width: 330px;
                    color: $white;
                    font-weight: bold;
                    padding-left: 15px;
                }
            }

            .search{
                border: 1px solid $purple;
                margin: 15px;
                color: $white;
                input{
                    @include button();
                    width: 400px;
                    color: $white;
                    font-weight: bold;
                    padding-left: 15px;
                }
            }

            .options{
                @include flex();
                justify-content: start;

                label{
                    width: 120px;
                    height: 45px;
                    margin: 20px 15px;

                    select{
                        height: 45px;
                        width: 120px;
                        padding-left: 10px;
                        color: $grey;
                        padding-right: 10px;

                    }
                }
            }
        }

        .card{
            display: grid;
            width: 750px;
            margin: 30px auto auto 0;
              padding-left: 40px;
            height: 250px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            color: $grey;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas:
            "infos status"
            "stats options"
            "author menu";

            &__infos{
                grid-area: 'infos';
                @include flex();
                justify-content: start;
                margin: auto 0;
                text-align: left;
                height: 80px;


                img{
                    width: 70px;
                    height: 70px;
                    margin: 20px 10px auto 0;
                }

                &__list{
                    line-height: 1em;
                    margin: auto 0;
                    text-align: left;
                    float: left;
                    background-color: green($color: #000000);

                    h2{
                        color: $black;
                        font-weight: 450;
                    }
                    p{
                        margin: auto 0;
                        i{
                            width: 25px;
                            height: 25px;
                            margin-left: 20px;
                        }
                    }
                }
            }

            &__stats{
                grid-area: stats;
                @include flex();
                margin: 50px auto auto 0;


                .users{
                    width: 30px;
                    height: 30px;
                    background-color: $purple;
                    display: table;
                    text-align: center;

                    i{
                        color: $white;
                        display: table-cell;
                        vertical-align: middle;
                    }
                }

                p{
                    margin: 8px auto auto 5px;
                }
            }

            &__author{
                grid-area: author;
                @include flex();
                justify-content: baseline;
                text-align: left;

                p{
                    margin: auto 0;
                }
            }

            &__status{
                grid-area: status;
                text-align: right;
                @include flex();

                p{
                    color: $green;
                    font-weight: 400;
                    margin: 5px 20px auto auto;
                }

            }

            &__options{
                grid-area: options;

                p,
                input {
                    margin: auto 20px auto auto;
                    float: right;
                }
            }

            &__menu{
                grid-area: menu;
                text-align: right;

                button{
                    margin: auto 20px auto auto;
                }
            }
        }
    }
}

/*responsive for 1023px*/
@media screen and (min-width: 350px) and (max-width: 765px) {
    .content{
        .main{
            &__filters{
                .category{
                    margin: 10px;
                   select{
                    width: 280px;
                   }
                }

                .search{
                    margin: 10px;
                    input{
                        width: 300px;
                    }
                }

                .options{
                    flex-direction: column;
                    label{
                        margin: 10px 15px;

                        select{
                            width: 140px;
                        }
                    }
                }


            }
        }
    }
}